body {
  font-family: sans-serif;
  
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr ;
  }
}
.container >article {
  margin: 2%;
  padding: 2%;
  box-shadow: 1px 1px 1px 1px rgb(223, 216, 216);
  justify-content: center;
}

.container .article-header {
  text-align: center;
   
  }

.container article img{
    position: relative;
    width: 50%;
    height: 50%;
   
}

header{
    justify-content: center;
    text-align: center;
}
.form-container{
  width:100%;
  display: flex;
  justify-content: center;
}

.form div{
  flex-direction: row;
  margin:20px;
}
.form #submit {
  background-color: #dce0dc; 
  border: none;
  color: rgb(20, 19, 19);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.form #submit:hover{
  background-color: #222422; 
  color: rgb(240, 233, 233);
}
footer{
    justify-content: center;
    text-align: center;
    background-color: rgb(219, 215, 215);
}