.wrapper{
    display: flex;
    justify-content: center;
    position: relative;
}

@keyframes rotate {
   from {transform: rotate(0deg);}
    to{transform: rotate(90deg);}
  }

  @keyframes rotate-reverse {
    from {transform: rotate(0deg);}
    to {transform: rotate(-90deg);}
  }
.top-left{
    width: 50px;
    height: 50px;
    background-color: red;
    position: relative;
    transform-origin: left 0px;
}


.sibling:hover ~ .left > .top-left{
    animation: rotate 1s linear 0s 1 normal forwards ;  
}


.sibling:hover ~ .right > .top-right{
    animation: rotate-reverse 1s linear 0s 1 normal forwards ;  
}
.sibling:hover ~ .left > .bottom-left{
    animation: rotate-reverse 1s linear 0s 1 normal forwards ;  
}
.sibling:hover ~ .right > .bottom-right {
    animation: rotate 1s linear 0s 1 normal forwards ;  
}
.bottom-left{
    width: 50px;
    height: 50px;
    transform-origin: left bottom  0px;
    background-color: blue;
}

.sibling{
    width: 100px;
    height: 100px;
    z-index: 10;
    position: absolute;
}
.main{
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: -10;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.top-right{
    width: 50px;
    height: 50px;
    background-color: yellow;
    transform-origin: right top  0px;
}
.bottom-right{
    width: 50px;
    height: 50px;
    background-color: green;
    transform-origin: right bottom   0px;
}
