.wrapper{
    display: flex;
    justify-content: center;
 
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

.sibling{
    width: 200px;
    height: 200px;
    z-index: 10;
    position: absolute;
}
.main{
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: -1;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.color-box{
    width: 100px;
    height: 100px;
    transition: transform 0.5s;
}

.top-left{
    background-color: red;
    transform-origin: 0% 0%;
}
.top-right{
    background-color: yellow;
    transform-origin: 100% 0%;
}

.bottom-right{
    background-color: green;
    transform-origin: 100% 100%;;
}

.bottom-left{
    background-color: blue;
    transform-origin: 0% 100%;
}


.sibling:hover ~ .left > .top-left{
    transform-origin: 0% 0%;
    transform: rotate(90deg);
}

.sibling:hover ~ .right > .top-right{
    transform-origin: 100% 0%;
    transform: rotate(-90deg);
}
.sibling:hover ~ .right > .bottom-right {
    transform-origin: 100% 100%;
    transform: rotate(90deg);
}
.sibling:hover ~ .left > .bottom-left{
    transform-origin: 0% 100%;
    transform: rotate(-90deg);
 
}

